.commentary {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.commentaryBox {
  flex: 1;
}

.commentaryContent {
  background-color: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentaryContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.commentaryContent header button{
  background-color: transparent;
  border: none;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0; /*ou font-size:0*/
  border-radius: 2px;
  transition: color .3s;
}

.commentaryContent header button:hover {
  color: var(--red-500);
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400)
}

.commentaryContent p {
  margin-top: 1rem;
  color: var(--gray-300)
}

.commentaryBox footer {
  margin-top: 1rem;
}

.commentaryBox footer button {
  background-color: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color .3s;
  border-radius: 2px;
}

.commentaryBox footer button:hover {
  color: var(--green-300);
}

.commentaryBox footer button svg {
  margin-right: 0.5rem;
}

.commentaryBox footer button span::before {
  content: "\2022"; /*código do símbolo ponto*/
  padding: 0 0.25rem;

}