.sidebar {
  background-color: var(--gray-800);
  overflow: hidden;
  border-radius: 8px;  
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: cover;
  object-position: top;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin top negativo centralizado*/
  margin-top: calc(0px - 1.5rem - 6px); 
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
  text-align: center;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
  text-align: center;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  display: block;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 50px;
  border: 1px solid var(--green-500);
  border-radius: 8px;  
  text-decoration: none;
  font-weight: bold;
  color: var(--green-500);
  transition: color .2s, background-color .1s;
}

.sidebar footer a:hover {
  background-color: var(--green-500);
  color: var(--white);
}